.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  background-color: var(--gray-800);

  padding: 2rem;
}

.container img {
  width: 3.2rem;
}

.container strong {
  font-size: 2.6rem;
}
